@font-face {
	font-family: 'Instrument Serif';
	src: url(/assets/fonts/Instrument%20Serif-15e0c1ca75deb1bd32d3a8b5c907d871.woff2?h=10d48045f9d6927633ee36ce1c62ce5d) format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Instrument Serif';
	src: url(/assets/fonts/Instrument%20Serif-ed95977bbe1fe8a8c62199251db2a34c.woff2?h=10d48045f9d6927633ee36ce1c62ce5d) format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Instrument Serif';
	src: url(/assets/fonts/Instrument%20Serif-26c9b570f4c22bc3ceef51a0a6431302.woff2?h=10d48045f9d6927633ee36ce1c62ce5d) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Instrument Serif';
	src: url(/assets/fonts/Instrument%20Serif-f9cc02adcac2ab2f745cb738c288c42d.woff2?h=10d48045f9d6927633ee36ce1c62ce5d) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}