@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-643fff3b71bb10261f4c2d7e06e8b72e.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-8b89902348113df19ddb8c13458ac9b2.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-fbfc1d5470cf6661150a2ec07ca5c222.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-ddc402571fa5951f851cde7f79aa5131.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-5328ba89257179fbf618dc7187d819fa.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-056890aec68524303dbdcd1c2e389fc7.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-c919bf4bac2f256951d2e966b04bf304.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-643fff3b71bb10261f4c2d7e06e8b72e.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-8b89902348113df19ddb8c13458ac9b2.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-fbfc1d5470cf6661150a2ec07ca5c222.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-ddc402571fa5951f851cde7f79aa5131.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-5328ba89257179fbf618dc7187d819fa.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-056890aec68524303dbdcd1c2e389fc7.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-c919bf4bac2f256951d2e966b04bf304.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-643fff3b71bb10261f4c2d7e06e8b72e.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-8b89902348113df19ddb8c13458ac9b2.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-fbfc1d5470cf6661150a2ec07ca5c222.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-ddc402571fa5951f851cde7f79aa5131.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-5328ba89257179fbf618dc7187d819fa.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-056890aec68524303dbdcd1c2e389fc7.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-c919bf4bac2f256951d2e966b04bf304.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-643fff3b71bb10261f4c2d7e06e8b72e.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-8b89902348113df19ddb8c13458ac9b2.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-fbfc1d5470cf6661150a2ec07ca5c222.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-ddc402571fa5951f851cde7f79aa5131.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-5328ba89257179fbf618dc7187d819fa.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-056890aec68524303dbdcd1c2e389fc7.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-c919bf4bac2f256951d2e966b04bf304.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-643fff3b71bb10261f4c2d7e06e8b72e.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-8b89902348113df19ddb8c13458ac9b2.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-fbfc1d5470cf6661150a2ec07ca5c222.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-ddc402571fa5951f851cde7f79aa5131.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-5328ba89257179fbf618dc7187d819fa.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-056890aec68524303dbdcd1c2e389fc7.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-c919bf4bac2f256951d2e966b04bf304.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-643fff3b71bb10261f4c2d7e06e8b72e.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-8b89902348113df19ddb8c13458ac9b2.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-fbfc1d5470cf6661150a2ec07ca5c222.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-ddc402571fa5951f851cde7f79aa5131.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-5328ba89257179fbf618dc7187d819fa.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-056890aec68524303dbdcd1c2e389fc7.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-c919bf4bac2f256951d2e966b04bf304.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-643fff3b71bb10261f4c2d7e06e8b72e.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-8b89902348113df19ddb8c13458ac9b2.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-fbfc1d5470cf6661150a2ec07ca5c222.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-ddc402571fa5951f851cde7f79aa5131.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-5328ba89257179fbf618dc7187d819fa.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-056890aec68524303dbdcd1c2e389fc7.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-c919bf4bac2f256951d2e966b04bf304.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-643fff3b71bb10261f4c2d7e06e8b72e.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-8b89902348113df19ddb8c13458ac9b2.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-fbfc1d5470cf6661150a2ec07ca5c222.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-ddc402571fa5951f851cde7f79aa5131.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-5328ba89257179fbf618dc7187d819fa.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-056890aec68524303dbdcd1c2e389fc7.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-c919bf4bac2f256951d2e966b04bf304.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-643fff3b71bb10261f4c2d7e06e8b72e.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-8b89902348113df19ddb8c13458ac9b2.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-fbfc1d5470cf6661150a2ec07ca5c222.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-ddc402571fa5951f851cde7f79aa5131.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-5328ba89257179fbf618dc7187d819fa.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-056890aec68524303dbdcd1c2e389fc7.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-c919bf4bac2f256951d2e966b04bf304.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-da1b71c068439f0f51e026b9888db80c.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-6eeb8c90538457824fdcdfb8d59e4690.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-37ab2926e731f0f95fb291e970b91803.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-f1b4ac902137922d84168e52bb15947b.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-acc23237c2f7a0d456158200067810db.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-29bf377b35474dbccff3a468d9c4c659.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-9763a8a82f78fd9b280bdac637969d71.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-da1b71c068439f0f51e026b9888db80c.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-6eeb8c90538457824fdcdfb8d59e4690.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-37ab2926e731f0f95fb291e970b91803.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-f1b4ac902137922d84168e52bb15947b.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-acc23237c2f7a0d456158200067810db.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-29bf377b35474dbccff3a468d9c4c659.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-9763a8a82f78fd9b280bdac637969d71.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-da1b71c068439f0f51e026b9888db80c.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-6eeb8c90538457824fdcdfb8d59e4690.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-37ab2926e731f0f95fb291e970b91803.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-f1b4ac902137922d84168e52bb15947b.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-acc23237c2f7a0d456158200067810db.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-29bf377b35474dbccff3a468d9c4c659.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-9763a8a82f78fd9b280bdac637969d71.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-da1b71c068439f0f51e026b9888db80c.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-6eeb8c90538457824fdcdfb8d59e4690.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-37ab2926e731f0f95fb291e970b91803.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-f1b4ac902137922d84168e52bb15947b.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-acc23237c2f7a0d456158200067810db.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-29bf377b35474dbccff3a468d9c4c659.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-9763a8a82f78fd9b280bdac637969d71.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-da1b71c068439f0f51e026b9888db80c.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-6eeb8c90538457824fdcdfb8d59e4690.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-37ab2926e731f0f95fb291e970b91803.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-f1b4ac902137922d84168e52bb15947b.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-acc23237c2f7a0d456158200067810db.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-29bf377b35474dbccff3a468d9c4c659.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-9763a8a82f78fd9b280bdac637969d71.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-da1b71c068439f0f51e026b9888db80c.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-6eeb8c90538457824fdcdfb8d59e4690.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-37ab2926e731f0f95fb291e970b91803.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-f1b4ac902137922d84168e52bb15947b.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-acc23237c2f7a0d456158200067810db.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-29bf377b35474dbccff3a468d9c4c659.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-9763a8a82f78fd9b280bdac637969d71.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-da1b71c068439f0f51e026b9888db80c.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-6eeb8c90538457824fdcdfb8d59e4690.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-37ab2926e731f0f95fb291e970b91803.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-f1b4ac902137922d84168e52bb15947b.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-acc23237c2f7a0d456158200067810db.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-29bf377b35474dbccff3a468d9c4c659.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-9763a8a82f78fd9b280bdac637969d71.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-da1b71c068439f0f51e026b9888db80c.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-6eeb8c90538457824fdcdfb8d59e4690.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-37ab2926e731f0f95fb291e970b91803.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-f1b4ac902137922d84168e52bb15947b.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-acc23237c2f7a0d456158200067810db.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-29bf377b35474dbccff3a468d9c4c659.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-9763a8a82f78fd9b280bdac637969d71.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-da1b71c068439f0f51e026b9888db80c.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-6eeb8c90538457824fdcdfb8d59e4690.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-37ab2926e731f0f95fb291e970b91803.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	unicode-range: U+1F00-1FFF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-f1b4ac902137922d84168e52bb15947b.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-acc23237c2f7a0d456158200067810db.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-29bf377b35474dbccff3a468d9c4c659.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Inter Tight';
	src: url(/assets/fonts/Inter%20Tight-9763a8a82f78fd9b280bdac637969d71.woff2?h=6ac383a4298ca4e9532ae2f797198cbf) format('woff2');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}